%h1.title BurGr.nl!
- unless @url.nil?
	%code= @url.original
	snipped to 
	%a{:href => env['HTTP_REFERER'] + @url.snipped}
		= env['HTTP_REFERER'] + @url.snipped
#err.warning= env['sinatra.error']
%form{:method => 'post', :action => '/'}
	Verkorten:
	%input{:type => 'text', :name => 'original', :size => '50'} 
	%input{:type => 'submit', :value => 'snip!'}
%hr
%small
	copyright &copy; 2010
	%a{:href => 'http://wendbaar.nl'}
		Wendbaar
	, 
	%a{:href => 'http://twitter.com/LeipeLeon'}
		@LeipeLeon
	, 
	%a{:href => 'http://github.com/LeipeLeon/snip'}
		Grab source code