!!! 1.1
%html
  %head
    %title BurGr.nl!
    %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Steely', :type => 'text/css'}
  = yield
  %hr
  %small
    copyright &copy; 2010
    %a{:href => 'http://wendbaar.nl'}
      Wendbaar
    , 
    %a{:href => 'http://twitter.com/LeipeLeon'}
      @LeipeLeon
    , 
    %a{:href => 'http://github.com/LeipeLeon/snip'}
      Grab source code
    <br/>
    Usage in (the new) tweetdeck: http://burgr.nl/api?url=%@
/ Available stylesheets:
/ Oldstyle
/ Modernist
/ Midnight
/ Ultramarine
/ Swiss
/ Chocolate
/ Traditional
/ Steely