!!! 1.1
%html
  %head
    %title BurGr.nl!
    %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Steely', :type => 'text/css'}
  = yield

/ Available stylesheets:
/ Oldstyle
/ Modernist
/ Midnight
/ Ultramarine
/ Swiss
/ Chocolate
/ Traditional
/ Steely